@mixin boxcolor($color:#a361ff,$borderThickness:1px,$borderColor:#ffffff){
    border-top: $borderThickness solid $borderColor;
    border-left: $borderThickness solid $borderColor;
    border-right: $borderThickness solid $borderColor;
    border-bottom: $borderThickness solid $borderColor;
    background-color: $color;
    
}

$blue:#6179ff;
$violet:#a361ff;
$cyan: #61ffe7;
$lightViolet: #ff3dff;
$green: #3dff9e;
$solidBorder: 1px;
$borderColor: #ffffff;

.greenbox{
 @include boxcolor($green,$solidBorder,$borderColor);
}

.bluebox{
   @include boxcolor($blue,$solidBorder,$borderColor);
}

.cyanbox{
    @include boxcolor($cyan,$solidBorder,$borderColor);
 }
 
 .violetbox{
    @include boxcolor($violet,$solidBorder,$borderColor);
 }
 
 .lightvioletbox{
    @include boxcolor($lightViolet,$solidBorder,$borderColor);
 }


 





