<h3>{{title}}</h3>
<!-- PrimeNG  -->
<h3>This is a sample of using primeng grid</h3>
<div class="ui-g">
  <div class="ui-g-2 greenbox">2</div>
  <div class="ui-g-4 violetbox">4</div>
  <div class="ui-g-6 cyanbox">6</div>
</div>
<div class="ui-g">
  <div class="ui-g-8 bluebox">8</div>
  <div class="ui-g-4 lightvioletbox">4</div>
</div>
<h3>Nested columns</h3>

<div class="ui-g">
  <div class="ui-g-8 lightvioletbox">
    <div class="ui-g-6">6</div>
    <div class="ui-g-6">6</div>
    <div class="ui-g-12">12</div>
  </div>
  <div class="ui-g-4 cyanbox">4</div>
</div>

<h3>Complex Structure</h3>
<div class="ui-g">
  <div class="ui-g-8 lightvioletbox ui-g-nopad">
    <div class="ui-g-6">6
      <br/>6
      <br/>6
      <br/>6
      <br/>6</div>
    <div class="ui-g-6">6</div>
    <div class="ui-g-12">12</div>
  </div>
  <div class="ui-g-4 cyanbox ui-g-nopad">4</div>
</div>

<h3>Complex Structure</h3>
<div class="ui-g">
  <div class="ui-g-8 lightvioletbox">
    <div class="ui-g-6">
      6
      <br/>6
      <br/>6
    </div>
    <div class="ui-g-6">6</div>
    <div class="ui-g-12">12</div>
  </div>
  <div class="ui-g-4 cyanbox">4</div>
</div>
<h3>Responsive Design</h3>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-l-2 greenbox">ui-g-12 ui-md-6 ui-l-2</div>
  <div class="ui-g-12 ui-md-6 ui-l-2 violetbox">ui-g-12 ui-md-6 ui-l-2</div>
  <div class="ui-g-12 ui-md-4 ui-l-8 cyanbox">ui-g-12 ui-md-4 ui-l-8</div>
</div>
<div>
  <h3>Form Controls</h3>
  <label for="testData">Testing FormControl</label>
  <input [formControl]="name">
  <div>
    <p>The value of the formcontrol</p>
    Your input box value: {{name.value}}
  </div>
</div>