<h3>{{title}}</h3>
<!-- PrimeNG  -->
<h3>This is a sample of using primeng grid</h3>
<div class="ui-g">
  <div class="ui-g-2 greenbox">2</div>
  <div class="ui-g-4 violetbox">4</div>
  <div class="ui-g-6 cyanbox">6</div>
</div>
<div class="ui-g">
  <div class="ui-g-8 bluebox">8</div>
  <div class="ui-g-4 lightvioletbox">4</div>
</div>
<h3>Nested columns</h3>

<div class="ui-g">
  <div class="ui-g-8 lightvioletbox">
    <div class="ui-g-6">6</div>
    <div class="ui-g-6">6</div>
    <div class="ui-g-12">12</div>
  </div>
  <div class="ui-g-4 cyanbox">4</div>
</div>

<h3>Complex Structure</h3>
<div class="ui-g">
  <div class="ui-g-8 lightvioletbox">
    <div class="ui-g-6">6<br/>6<br/>6<br/>6<br/>6</div>
    <div class="ui-g-6">6</div>
    <div class="ui-g-12">12</div>
  </div>
  <div class="ui-g-4 cyanbox">4</div>
</div>

<h3>Complex Structure</h3>
<div class="ui-g">
  <div class="ui-g-8 lightvioletbox">
    <div class="ui-g-6">
     <ul>
       <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium pariatur quasi ipsum aperiam eveniet est reprehenderit laudantium voluptatum? Illum qui quod quae dicta iste accusamus atque debitis fuga officia perspiciatis.</li>
       <li>Odio quos incidunt ipsa ut corrupti. Vel, at rem distinctio blanditiis dignissimos ipsam. Consequuntur, atque quaerat amet nihil reiciendis dolorum eius ducimus! Omnis cum necessitatibus cumque sint maiores? Quibusdam, quos!</li>
       <li>Beatae qui quis sint quidem facere molestias ea voluptatem illum aspernatur iste omnis, perferendis et repudiandae pariatur itaque reiciendis! Sunt atque illo, ipsa id modi molestiae obcaecati sequi incidunt autem.</li>
       <li>Reiciendis officiis sapiente repudiandae, commodi dolore nesciunt rerum unde itaque cumque odit consectetur dolor nostrum veniam rem odio praesentium qui esse veritatis labore. Debitis doloribus tempora laboriosam ipsa quia illum?</li>
       <li>Minima ad illo officiis numquam tempora reprehenderit quos ipsum, commodi non sed veniam voluptate dolorem itaque dignissimos consequuntur quibusdam beatae in voluptates reiciendis ipsa perspiciatis repellat fuga autem quaerat. Accusamus.</li>
     </ul>
    </div>
    <div class="ui-g-6">6</div>
    <div class="ui-g-12">12</div>
  </div>
  <div class="ui-g-4 cyanbox">4</div>
</div>